<!DOCTYPE html>
<html>
  <head>
    <title>Painter</title>
    <meta name="description" content="a tech demo of painter">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style>
  </style>
  <body>
    <span id="tools">
      <label>Color:</label>
      <input id="color_picker" type="color" onchange="setColor()" />
      <label>Size:</label>
      <input id="size_setter" type="number" min="0" value="1" onchange="setSize()" />
      <label>Tool:</label>
      <select id="tool_setter" onchange="pickTool()">
        <option value="brush">brush</option>
        <option value="line">line</option>
        <option value="fill">fill</option>
      </select>
      <button id="clear" onclick="onPressClearCanvas()">Clear</button>
    </span>

    <canvas id="canvas"></canvas>
    <canvas id="canvas_virtual_layer"></canvas>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
    <script src="./javascripts/app.js"></script>
  </body>
</html>
