/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
  margin: 0;
  padding: 0;
  background-color: black;
  /* background-repeat: no-repeat, repeat; */
  /* background-size: 100%; */
  user-select: none;
}

.wrapper {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 1024px;
  transform: translate(-50%);
}

.overlay {
  filter: blur(30px);
  width: 100%;
  height: 100%;
  /* background-color: white; */
  /* opacity: 0.5; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('http://kb4images.com/images/picture/37509081-picture.jpg');
  background-size: 100%;
}

canvas {
  position: fixed;
  border: 2px solid rgb(247, 222, 80);
  border-radius: 5px;
  /* border: solid black thin; */
  box-shadow: 1px 1px 9px 0px #777777;
}
#canvas {
  background-color: white;
}

#tools {
  background-color: rgb(247, 222, 80);
  position: fixed;
  z-index: 5;
  width: 1026px;
  /* height: 3%; */
  padding: 2px;
}
#size_setter {
  left: 50px;
  width: 50px;
}
#tool_setter {
  left: 105px;
}
#clear {
  left: 170px;
}